# App
NODE_ENV=
PORT=

# POSTGRESQL
DB_HOST=
DB_HOST=542
DB_USERNAME= 
DB_password=@123
DB_NAME=

#REDIS
REDIS_HOST=
REDIS_PORT=

#JWT
JWT_SECRECT=

#OSINT
CRAWLER_RATE_LIMIT_MS=

#FB
FB_CRED_ENC_KEY=
FB_MAX_CRAWLS_PER_DAY=
FB_MAX_CHECKPOINTS=
## FB-Playwright
FB_HEADLESS=
FB_PROXY_URL=
FB_VIEWPORT_WIDTH=
FB_VIEWPORT_HEIGHT=
FB_USER_AGENT=
FB_TEST_LOGIN=
FB_TEST_PASSWORD=

FB_MAP_SCROLLS=